.hamburger {
    width: 100%;
    height: auto;
    .menuButton {
        display: block;
        cursor: pointer;
        font-size: 28px;
        color: #000;
    }
    .menuItems {
        display: none;
        background-color: #fff;
        border: 1px solid #fff;
        width: 100%;
        padding: 30px;
        height: 100%;
        position: fixed;
        top: 56px;
        left: 0;
        z-index: 999;
        .navBar{
            .search{
                display: flex;
                gap: 10px;
                background-color: #dfdcdc;
                padding:20px;
                color: #545454;
                .icon{
                    font-size: 20px;
                }
                input{
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    outline: 0;
                    font-size: 20px;
                }
                button{
                    font-size: 18px;
                    background-color: transparent;
                    border: none;
                }
            }
            .navList{
                position: relative;
                display: block;
                color: #000;
                font-weight: 400;
                font-size: 20px;
                padding: 14px;
                text-decoration: none;
                transition: color 0.3s ease-in-out;
                .navLink{
                    .a{
                        color: #000;
                        font-weight: 400;
                        font-size: 20px;
                    }
                }
                .dropDownMenu{
                    padding-top: 10px;
                    .dropDown{
                        .flex{
                            .dropDownPart{
                                span{
                                    font-weight: 700;
                                    display: block;
                                    padding: 10px 0 15px;
                                }
                                ul{
                                    li{
                                        line-height: 1.5;
                                        .dropLink{
                                            color: #545454;
                                        }
                                    }
                                }
                                .dropImg{
                                    padding-top: 20px;
                                    width: 100%;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }
                .rightIcon{
                    padding-top: 3px;
                }
                .logIn{
                    display: block;
                    color: #000;
                    font-size: 20px;
                }
                &:hover {
                    color: #000;
                    background-color: rgba(18, 48, 38, 0.2);
                }
            }
            
        }
    }
    &.open {
        .menuItems {
            display: block;
        }
    }
}

