.checkOut{
    padding: 100px 0;
    .container{
        .checkOutContent{
            .checkForm{
                margin: 0 auto;
                width: 80%;
                .checkTitle{
                    text-align: center;
                }
                form{
                    margin: 0 auto;
                    padding-top: 50px;
                    padding-bottom: 40px;
                    gap: 20px;
                    flex-wrap: wrap;
                    @media(max-width:390px){
                        flex-direction: column;
                    }
                    .input{
                        width: 45%;
                        @media(max-width:390px){
                            width: 100%;
                        }
                        input{
                            padding: 10px;
                            width: 100%;
                            outline: 0;
                            border: 0;
                            border-bottom: 1px solid #000;
                        }
                        select{
                            padding: 10px 0;
                            width: 100%;
                            outline: 0;
                        }
                        .error{
                            color: rgb(254, 12, 12);
                        }
                    }
                    button{
                        margin: 20px auto;
                        width: 50%;
                        padding: 15px 0;
                        background-color: #000;
                        color: #fff;
                        font-size: 18px;
                        border: 0;
                        transition: .3s ease all;
                        &:hover{
                            background-color: #454444;
                        }
                        @media(max-width:390px){
                            width: 100%;
                        }
                    }
                }
                
            }
        }
        
    }
}