.productDetails{
    .container{
        width: 100%;
        .productDetailsContent{ 
            background-color: #f7fafc;
            height: 100%;
            .detailProductImg{
                    width: 60%;
                    height: 700px;
                    @media(max-width:1124px){
                        height: 850px;
                    }
                    @media(max-width:850px){
                        height: 700px;
                    }
                    @media(max-width:630px){
                        height: 450px;
                    }
                    @media(max-width:500px){
                        height: 400px;
                    }
                    .image{
                        width: 100%;
                        height: 100%;
                        object-fit:cover;
                        object-position: bottom;
                    }
            }
            .productDetailInfo{
                padding: 50px;
                width: 40%;
                height: 100%;
                .productMainInfo{
                    display: flex;
                    justify-content: space-between;
                    h2{
                        @media (max-width:500px) {
                            font-size: 18px;
                        }
                    }
                }
                .addToCart{
                    width: 100%;
                    margin-top: 30px;
                    padding: 18px 16px;
                    background-color: #000;
                    border: 0;
                    transition: .3s ease all;
                    color: #fff;
                    &:hover{
                        opacity: 0.7;
                    }
                }
                .productInfo{
                    .detail {
                        padding: 5px 5px 0;
                    }
                    p{
                        padding-top: 50px;
                    }
                    .additionalInfo{
                        width: 100%;
                        .row{
                            flex-wrap: wrap;
                            gap: 20px;
                            @media(max-width:1117px){
                                gap: 10px;
                            }
                            @media(max-width:800px){
                                justify-content: space-between;
                            }
                            .info{
                                padding-left: 20px;
                                width: 30%;
                                @media(max-width:1304px){
                                    width: 45%;
                                }
                                @media(max-width:1124px){
                                    width: 29%;
                                }
                                @media(max-width:600px){
                                    width: 45%;
                                }
                            }                           
                        }
                    }
                    .faq{
                        .faqItem{
                            cursor: pointer;
                            div{  
                                margin-top: -25px;
                                .answer{
                                    margin-bottom: -40px;                                
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1124px){
    .productDetails{
        .container{
            width: 100%;
            .productDetailsContent{
                flex-direction: column;
                .detailProductImg{
                    width: 100%;
                }
                .productDetailInfo{
                    width: 100%;
                }
            }
        }
    }
}
